<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/sprache/ger">Ger</a> | <a href="/sprache/eng">Eng</a> | <a href="/">Home</a></p>



  <%  for (i = 0; i < navigation.items.length; i++)  { %>
      <a href=" <%= navigation.items[i].url %>"> <%= navigation.items[i].name %></a>
      <% if(i < 2) { %> | <% } else {}
    } %>



    <p>Sprache ist derzeit: <%= lang %></p>



  </body>
</html>
