<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery.js"></script>

    </script>
    <title>Modify Feedback Panel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Modify Feedback Panel</h1>
    <div>
      <form action="/feedback/edit_submit" method="POST">
        <div>ID:<br><input type="text" name="feedback_id" value="<%= feedback_data[0]._id %>"></input></div>
        <div>Feedback:<br><textarea name="feedback_value" rows="3"><%= feedback_data[0].feedback_value %></textarea></div>
          <div><input type="submit"></input></div>
      </form>
    </div>



  </body>
</html>
