<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery.js"></script>

    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/show_feedback/all">Show feedback</a> | <a href="/">Home</a></p>
    <div>
      <form action="/feedback" method="POST">
      <textarea name="feedback_value" id="feedback" rows="3"></textarea>
    <div><input type="submit" id="feedback"></input></div>
  </form></div>
  <% if(feedback_submit == "success") { %>
    <script type="text/javascript">
    $("body").append("<p id=\"blubi\">Thanks for the Feedback</p>");
    document.write('jquery version:', $.fn.jquery);
    </script>
  <% } %>
  <% if(feedback_submit == "edited") { %>
    <div><p>Feedback bearbeitet!</p></div>
  <% } %>
  <% if(feedback_submit == "deleted") { %>
    <div><p>Feedback gelöscht!</p></div>
  <% } %>
  <% if(feedback != false){ %>
    <div><p>View only: <a href="/show_feedback/eng">Eng</a> | <a href="/show_feedback/ger">Ger</a></p></div>
    <% for (i = 0; i < feedback.length; i++) { %>
      <div>
        <div>Sprache: <%= feedback[i].language %></div><div>User: <%= feedback[i].username %></div><div>Date: <%= feedback[i].date %></div>
      </div>
      <div>Feedback: <br><%= feedback[i].feedback_value %></div>
      <div><p><a href="/feedback/edit/<%= feedback[i]._id %>">Edit</a> | <a href="/feedback/delete/<%= feedback[i]._id %>">Delete</a></p></div>
      <br>
    <% }
  } %>


  </body>

</html>
